*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html
{
    font-family: 'Nunito', sans-serif;
    font-size: 10px;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}

 p{
     font-size: 1.6rem;
 }

img{
   
    width: 100px;
    max-width: 200px;
 
     
   
 
   
}
 

section{
    padding:5rem 0;
}
body
{
    background-color: rgb(255, 255, 255);
  
}

header{
    width: 100%;
    height: 5rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.container
{
     
        margin:5px;
    
}

.nav {
    border-bottom: 1px solid #fdfdff;
    text-align: right;
    height: 80px;
    line-height: 60px;
    font-size: large;
    margin-left: 50px;
    opacity: 0.6;
    
     
}
.menu {
    margin: 0 30px 0 0;
}
.menu a {
    clear: right;
    text-decoration: none;
    color: rgb(255, 255, 255);
    margin: 0 10px;
    line-height: 70px;
}



label {
    margin: 0 40px 0 0;
    font-size: 26px;
    line-height: 70px;
    display: none;
    width: 26px;
    float: right;
}
#toggle {
    display: none;
}


@media only screen and (max-width: 500px) {
    label {
        display: block;
        cursor: pointer;
    }
    .menu {
        text-align: center;
        width: 100%;
        display: none;
    }
    .menu a {
        display: block;
        border-bottom: 1px solid #ffffff;
        margin: 0;
     
    }
    #toggle:checked + .menu {
        display: block;
    }
    
    
}
 
 


.dogs
{
    width: 100%;
    height: 80vh;
    background: linear-gradient(135deg,rgba(49,24,131,0.7) 0%, rgba(72,56,149,0.5) 100%),
    url(".github/images/Img_h6.jpg") center no-repeat;
    background-size: cover;
    position: relative;
    animation: slide 20s infinite;
}

@keyframes slide{
    25%{
        background: linear-gradient(135deg,rgba(49,24,131,0.7) 0%, rgba(72,56,149,0.5) 100%),
        url(".github/images/Img_h9.jpg") center no-repeat;
        background-size: cover;
        position: relative;
        width: 100%;
        height: 80vh;
    }
    50%{
        background: linear-gradient(135deg,rgba(49,24,131,0.7) 0%, rgba(72,56,149,0.5) 100%),
        url(".github/images/Img_h2.jpg") center no-repeat;
        background-size: cover;
        position: relative;
        width: 100%;
        height: 80vh;
    }
    75%{
        background: linear-gradient(135deg,rgba(49,24,131,0.7) 0%, rgba(72,56,149,0.5) 100%),
        url(".github/images/Img_h5.jpg") center no-repeat;
        background-size: cover;
        position: relative;
        width: 100%;
        height: 80vh;
    }
    100%{
        background: linear-gradient(135deg,rgba(49,24,131,0.7) 0%, rgba(72,56,149,0.5) 100%),
        url(".github/images/Img_h13.jpg") center no-repeat;
        background-size: cover;
        position: relative;
        width: 100%;
        height: 80vh;
    }
}

.dogs::before{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
   height: 20rem;
    background: url(".github/images/wave-large.png") center no-repeat;
    background-size: cover;
    width: 100%;
    z-index: 3;

}

  
 

.title-heading{
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 3rem;
    color: rgba(37, 0, 138, 0.7);
    font-size: large;
     
    
}
 

.title-heading h1{
    font-family: 'Aldrich', sans-serif;
    font-size: 4rem;
  
}

.title-heading p{
    text-transform: lowercase;
}

.activities-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    grid-gap: 1.5rem;
     

}

.activities-grid-item{
    height: 40rem;
    padding: 4rem;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
    
     
}

.activities-grid-item::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(135deg, rgba(49,24,131,0.9), rgba(72,56,149,0.8) 100%);
    z-index: -1;
    opacity: 0.6;
    border-radius: 5px;
    
}