*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html
{
    font-family: 'Nunito', sans-serif;
    font-size: 10px;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}

ul{
    list-style: none;
}

img{
    width: 100%;
    max-width: 100%;
    height: auto;
}

section{
    padding:5rem 0;
}
body
{
    background-color: whites;
}

header{
    width: 100%;
    height: 5rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.container
{
    width: 100%;
    max-width: 98rem;
    margin: 0 auto;
    padding: 0 1.5rem;
}

nav
{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 0;
     
}

.brand
{
    width: 2rem;
}

 

 

.list
{
    width: 25rem;
    height: 100vh;
    max-width: 35%;
    background-color: white;
    position: fixed;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 1500;
    transition: all 650ms ease-in-out;
}

.li
{
    margin: 1.5rem 0;
}

.link
{
 font-size: 1.6rem;
 text-transform: uppercase;
 color: rgba(0,0,0,.8);
}


.dogs
{
    width: 100%;
    height: 80vh;
    background: linear-gradient(135deg,rgba(49,24,131,0.7) 0%, rgba(72,56,149,0.5) 100%),
    url(".github/images/Img_h6.jpg") center no-repeat;
    background-size: cover;
    position: relative;
}

.dogs::before{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
   height: 40rem;
    background: url(".github/images/wave-large.png") center no-repeat;
    background-size: cover;
    width: 100%;

}

.main-text

{
    width: 100%;
    max-width: 50rem;
    min-width: 10rem;
    color: #fafafa;
     
    transform: translateY(20%) ;
   

}

.main-text h1
{
    font-size: 2.6rem;
}

.container2
{
    width: 100%;
     height: 100%;
    max-width: 58em;
    max-height: 60rem;
    margin: 0 auto;
    display: flex;
    align-items: flex-end;
     
    
}

.main-text2

{
    width: 100%;
    max-width: 50rem;
    min-width: 10rem;
    color: black;
     
    transform: translateY(20%) ;
   

}


